<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in to Challenge Accepted</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.email}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
<h3>All Challenges:</h3>
<ul class="challenges">
  <li *ngFor="let challenge of challenges"
    [class.selected]="challenge === selectedChallenge"
    (click)="onSelectChallenge(challenge)"
  ><span class="badge">{{challenge.id}}</span>{{challenge.name}} {{challenge.challengetype}}
      <!-- <ul>
        <li *ngFor="let challengeitem of challenge.challengeitems">
          {{challengeitem.item}}
        </li>
      </ul> -->
      <!-- - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a> -->
  </li>
</ul>

<div *ngIf="selectedChallenge">

  <h3>{{selectedChallenge.name}}</h3>
  <li *ngFor="let challengeitem of selectedChallenge.challengeitems">
    {{challengeitem.item}}
  </li>
</div>