<!-- <header>
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact us</a></li>
        <li><a routerLink="/challenges">Challenges</a></li>

        <li><a routerLink="/login">Login</a></li>
        <li><a (click)="logout()">logout</a></li>
      </ul>
    </nav>
  </div>
</header> -->
  <igx-navbar title="{{ appTitle }}" actionButtonIcon="menu">
      <a (click)="logout()">logout</a>
      <igx-icon>search</igx-icon>
      <igx-icon>favorite</igx-icon>
      <igx-icon>more_vert</igx-icon>
  </igx-navbar>